@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

hr {
    width: 100px;
    padding-bottom: 20px;
}

.answer {
    display: block;
}

.main-image {
    width: 100vw;
    height: 25vh;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maple-bg {
    background-image: url('../images/maple.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
    min-height: 100%;
}

.nav{
    background-color: #b8d4b99c;
}

.title {
    padding-bottom: 20px;
}

.sub-title {
    padding-bottom: 20px;
}

.intro-container {
    padding: 60px;
    background-color: #b8d4b99c;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-content {
    padding: 10px;
}

.content {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.form_and_btns {
    margin-bottom: 100px;
}

.quiz-content {
    min-height: 50vh;
    margin-bottom: 30px;
    margin-top: 30px;
}

.flash {
    margin-top: 10px;
    background-color: #b8d4b99c;
}

.leaders {
    list-style-type: none;
    font-size: 1.2em;
    line-height: 1.8;
}


.bg-image {
    height: 25vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}   

.submit-btn {
    margin-top: 20px;
}

  /*==========Media Queries===========*/

@media (min-width: 768px) {
    .intro-container {
        max-width: 60vw;
    }
    
    .bg-image {
        height: 40vh;
    }
}