{% extends 'base.html' %} {% block content %}


    <div class="col container-fluid bg-image" style="background-image: url({{ image }});">
    </div>
  


<h2>{{ question }}</h2>

<form method='POST'>
  
  <input type='text' name='user_answer'>
  <button class='btn btn-success submit-btn' type='submit' name="submit_btn" value='submit'>Submit</button> 
  
  
</form>

{% with messages = get_flashed_messages() %} 
{% if messages %} 
{% for message in messages %}
<div class="flash alert alert-primary" role="alert">
  <h3>{{ message }}</h3>
</div>
<h4>Click 'Next' to continue</h4>
<form method='POST'>
<button class='btn btn-primary' type='submit' name="submit_btn" value='next'>Next</button> 
</form>
{% endfor %} 
{% endif %} 
{% endwith %} 
{% endblock %}
